.main-container {
  min-height: 100vh;
  padding: 20px 50px;
}

.sidebar {
  background: rgb(28, 37, 54) !important;
}

.sidebar-menu {
  background: rgb(28, 37, 54) !important;
  color: rgb(157, 164, 174);
}

.sidebar-menu .ant-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.04) !important;
  color: rgb(157, 164, 174) !important;
}

.ant-menu .ant-menu-item {
  transition: all 0.1s ease-in !important;
  font-weight: 600 !important;
}

.ant-menu .ant-menu-item-selected {
  background-color: rgba(255, 255, 255, 0.04) !important;
  color: rgb(255, 255, 255) !important;
}

.ant-layout-header {
  background-color: rgb(245, 245, 245);
  padding-inline: 0px;
}

.ant-drawer-close {
  color: rgb(255, 255, 255) !important;
}

.search-bar {
  width: 50%;
}

.search-bar .ant-input-wrapper > input {
  padding: 10px;
}

.ant-input-search-button {
  height: 44px !important;
  width: 44px !important;
}

.ant-table-wrapper {
  width: 100%;
  padding: 25px 0px 0px 0px;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  text-transform: capitalize;
}

.ant-card {
  width: 100%;
}

.add-product-form {
  width: 40%;
}

.add-product_submit-button {
  background-color: rgb(99, 102, 241);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 5px 0px;
  width: 150px;
  height: 40px;
}

.add-product_submit-button:hover {
  background-color: rgb(67, 56, 202) !important;
}

.add-customer-form {
  width: 40%;
}

.add-customer_submit-button {
  background-color: rgb(99, 102, 241);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 5px 0px;
  width: 150px;
  height: 40px;
}

.add-customer_submit-button:hover {
  background-color: rgb(67, 56, 202) !important;
}

.settings-form {
  width: 40%;
}

.settings_submit-button {
  background-color: rgb(99, 102, 241);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 5px 0px;
  width: 150px;
  height: 40px;
}

.settings_submit-button:hover {
  background-color: rgb(67, 56, 202) !important;
}

.edit-customer_submit-button {
  background-color: rgb(99, 102, 241);
}

.edit-customer_submit-button:hover {
  background-color: rgb(67, 56, 202) !important;
}

@media only screen and (max-width: 992px) {
  .ant-layout-header {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 850px) {
  .add-product-form {
    width: 70%;
  }

  .settings-form {
    width: 70%;
  }

  .add-customer-form {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    padding: 20px 25px;
  }

  .search-bar {
    width: 100%;
  }

  .add-product-form {
    width: 100%;
  }

  .add-customer-form {
    width: 100%;
  }

  .settings-form {
    width: 100%;
  }
}
